apiVersion: v1
kind: Secret
metadata:
  name: grafana-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app: grafana
type: Opaque
stringData:
  admin-user: {{ .Values.grafana.adminUser | quote }}
  admin-password: {{ .Values.grafana.adminPassword | quote }}
